h1 {
	font-weight: bold;
	color: #e0e0ea;
	font-size: 3em;
	width: 100%;
	float: left;
	font-family: sans-serif;
  text-transform: uppercase;
}

p {
	font-weight: normal;
	color: #333333;
	text-align: left;
	font-family: sans-serif;	
  font-size: 16px;
  letter-spacing: 1px;
  padding-left: 20px;
  padding-right: 20px;

}

h2 {
	font-weight: bold;
	color: #31313e;
	text-transform: uppercase;
	font-family: sans-serif;
	font-size: 18px;
  padding-left: 20px;
  letter-spacing: 1px;
}

body, html {
  height: 100vh;
  padding-left: 0;
  margin: 0;
  background-color: #f3f3f3;
}

.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(img/hero.jpg);
  height: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  letter-spacing: 4px;
}

.featured-image-j {
  background-image: url(img/Phoenix.webp);
  height: 70%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  margin: auto;
}

.featured-image-a {
  background-image: url(img/ironman.jpg);
  height: 70%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  margin: auto;
}

@media screen and (max-width:600px) {
  .column {
    width: 100%;
  }
}
div.gallery {
  margin: 5px;
  float: left;
  width: calc(50% - 10px);
  display: inline-block;
}


div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
  font-family: sans-serif;
  letter-spacing: 1px;
}

.button
 {
  background-color: white;
  border: none;
  color: black;
  padding: 16px 32px;
  text-align: center;
  font-size: 16px;
  font-family: sans-serif;
  background-color: white; 
  color: black; 
  border: 2px solid #d63428;
  margin: 4px 2px;
  transition: 0.3s;
  display: inline-block;
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
  padding: 14px 80px;
  cursor: pointer;
  text-decoration: none;
}

.button:hover {
  background-color: #d63428;
  color: white;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

iframe {
   display: block;
   margin: 0 auto;
}

